ion-content{
    --ion-background-color: #f9f9f9;
    
    .transport{
        .seat, .corridor{
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            color: #ffffff;
            text-align: center;
            vertical-align: middle;
            display: inline-block;
            min-width: 50px;
            min-height: 50px;
            line-height: 45px;
            margin-bottom: 10px;
        }

        .busy{
            background-image: url('src/assets/seat-busy.png');
        }

        .free{
            background-image: url('src/assets/seat-free.png');
        }

        .selected{
            background-image: url('src/assets/seat-selected.png') no-repeat center center fixed;
            background-size: contain;            
        }

    }
 
    .transport.mobile{    
        max-width: 330px;
        .front{
            width: 100%;
            margin-bottom: 50px;
        }
        .seats{
            width: 100%;
        }
        .back{
            width: 100%;
        }
        img{
            min-width: 300px;
        }
    }
    .transport.desktop{    
        min-width: 500px;
        .front{
            padding-right: 50px;
        }
        .seats{
            min-width: 610px;
        }
        .corridor{
            min-height: 20px;
        }
        .seat{
            transform: rotate(-90deg);
            min-width: 55px;
        }
    }
    
    .labels, .transport{
        background-color: #ffffff;
        padding: 10px 10px 0px 10px;
    }
    
    .labels{
        margin-top: 30px;
        padding-bottom: 10px;
        text-align: center;
        font-size: 14px;

        .freeLabel, .selectedLabel, .noLabel{
            display: inline-block;
            width: 14px;
            height: 14px;
            margin-right: 4px;
        }

        .freeLabel{
            background-color: #7ecc00;
            border-radius: 20%;
        }

        .selectedLabel{
            background-color: #ffcc3e;
        }

        .noLabel{
            background-image: url('src/assets/legend-seat-busy.svg');
            background-size: contain;
            width: 16px;
            height: 16px;
        }
    }
}

ion-header{
    ion-button{
        text-transform: none;
    }
    ion-icon{
        margin-right:10px;
    }
}
ion-footer{
    ion-button{
        text-transform: none;
        margin: 10px 10px 10px 10px;
        height: 50px;
        font-size: 15px;
    }
    .selection{
        font-size: 13px;
        margin: 10px 0px 0px 10px;
        span{
            font-weight: bold;
        }
    }
}